<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79093478358-4a0dgu5ok3fviokumek81hsrn417n4iu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79093478358-4a0dgu5ok3fviokumek81hsrn417n4iu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>79093478358-4nc2fq28oeduff7u5q4mk9t4k4per4c8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAyYhW9Db-VKjCJqRHJozqzIyBlXKT64BA</string>
	<key>GCM_SENDER_ID</key>
	<string>79093478358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bundle.id</string>
	<key>PROJECT_ID</key>
	<string>livreur-urbain</string>
	<key>STORAGE_BUCKET</key>
	<string>livreur-urbain.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79093478358:ios:3a2b822da84c0c4e00ea77</string>
	<key>DATABASE_URL</key>
	<string>https://livreur-urbain-default-rtdb.firebaseio.com</string>
</dict>
</plist>